<nav class="top-bar-content navbar navbar-expand-sm bg-secondary pt-4">
  <div class="container-fluid">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="nav-link" (click)="toggleAppBarOpened()">
          <h3>Cognitto</h3>
        </button>
      </li>

    </ul>
    <!-- Navbar links -->
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <button class="btn btn-primary" (click)="toggleDrawerOpened()">
          Drawer
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="toggleSideBarOpened()">
          side bar
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="toggleFooterOpened()">
          footer
        </button>
      </li>
    </ul>
  </div>
</nav>
<app-test-layout [isTopBar]="isTopBar" [isDockTop]="isDockTop"
  [isAppBar]="isAppBar" [isDockAppBar]="isDockAppBar" [isSideBar]="isSideBar"
  [isDocksideBar]="isDocksideBar" [isFooter]="isFooter"
  [isDockFooter]="isDockFooter" [sidePosition]="sidePosition"
  [appBarClass]="appBarClass" [isDrawer]="isDrawer">

  <div class="app-bar-content">
    <a (click)="getProducts()" title="Products">
      <button class="btn w-2">
        <i class="fa fa-product-hunt" aria-hidden="true"></i>
      </button>
    </a>
    <a (click)="getServices()" title="Services">
      <button class="btn w-2">
        <i class="fa fa-info" aria-hidden="true"></i>
      </button>
    </a>
  </div>
  <div class="side-bar-content">
    <div class="" *ngFor="let item of list">
      <a >{{ item.Id }}</a>
      <a>{{ item.company}}</a>
    </div>
  </div>
  <div class="drawer-content">
    <div class="icon-bar">
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="google"><i class="fa fa-google"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
  <div>
    Lorem ipsum dolor sit amet, mutat dolores propriae ut pro, id feugiat
    fastidii sit. Rebum rationibus interesset mei
    eu, mea quis ludus ad, ex assum impetus constituam est. No nec sensibus
    inciderint, his cu doctus albucius, pri
    legimus dolorem splendide id. Inimicus suscipiantur no ius, no cum nemore
    meliore, graece delicatissimi eu mel. Eros
    accusata platonem ut eum, no cum harum apeirian.

    Ex viderer inermis cum, cu pri saepe fabellas, his at tempor accusamus.
    Laudem oporteat deserunt quo no, ut vix
    aliquip virtute, partem latine ea eam. Quo diceret epicuri ne, mel cu
    numquam tincidunt, cum sumo assum eu. His te
    elitr nostrum, malis putent oportere per id. Mea saepe laoreet at, mei ut
    libris noster perpetua, an eum posse
    graeci aperiam. Et quo fugit concludaturque.

    Illud summo pro et, cum eu euismod civibus. Has ad quod scaevola euripidis.
    Usu id erat affert nominavi. Mea timeam
    bonorum equidem id, est vitae noluisse no.

    An aliquando urbanitas voluptaria sed, eam et iriure perfecto, ex autem
    debet definitionem sit. Assum aperiri pri
    ne, probo tantas sea ea. Pro at sonet utamur, sed tota nonumy ea. Has
    appetere molestiae concludaturque ne, ut
    graeci minimum nec. At cum nusquam sensibus, et pro munere dictas.

    At eam quem detraxit. Eos ea causae discere interesset, essent dolorem
    vulputate pri an. Utinam lucilius convenire
    te nam, eos quis summo epicuri ea, usu ex minim eloquentiam interpretaris.
    Congue evertitur assentior cu mel. Sint
    case apeirian te pri. Verear accusam vulputate cum ei, sint appetere at vel.
  </div>

</app-test-layout>
<footer class="footer-content py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>